<br>
<br>
<div class="jumbotron jumbotron-fluid">
    <div class="container">
      <h1 class="display-4">Retail Banking</h1>
      <p class="lead">Our bank founded in 2021 to introduce the new level of financial services.
        Our internet banking brings a whole host of banking services to your fingertips. 
        It offers you the ease and convenience of transacting in a comfortable environment. 
        You can check your balances, track your transactions and transfer funds effortlessly. 
        Furthermore, you can also pay your bills, open fixed and recurring deposits and do so much more.
      </p>
    </div>
</div>
<div class="container">
    <div>
        <ng-image-slider [images]="imageObject" 
        [infinite]="true"
        [autoSlide]="3"
        [imageSize]="{width: '30%', height: 210}"
        [imagePopup]="false"
        [autoSlide]="0"
        slideImage="2"></ng-image-slider>
    </div>
    <br>
    <br>
    <div class="card" style="width: 30rem;" >
        <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRVkXGhScS4fnf1Cw2QRWliSN3xC2jaxYJE8g&usqp=CAU" class="card-img-top" alt="...">
        <div class="card-body">
          <h4 class="card-title">Savings Account</h4>
          <p class="card-text">Savings Account
            Here’s a range of savings accounts from ABC Retail Bank to suit your needs
            You unlock a world of possibilities when you open a savings account with ABC Retail Bank. 
            Our savings account helps you do so much more than just saving for your future. 
            With ABC Retail Bank as your banking partner, you can choose from a wide range of savings accounts that help you fulfil the different needs you have at every stage of your life.
            You get access to an extensive range of user-friendly features. And that’s not all. With your ABC Retail Bank Savings Account, 
            enjoy an unmatched digital banking experience 24x7 through internet banking platform and our mobile app, iABCMobile as well an extensive network of branches and ATMs.</p>
        </div>
      </div>
      <div class="row mb40">
      <div class="col-md-12">
          <div class="portlet-grid panel-primary">
              <div class="panel-heading">
                  <h3 class="panel-title">Banking at your fingertips</h3>
                </div>
                <div class="panel-body"> Our internet banking brings a whole host of banking services to your fingertips. 
                    It offers you the ease and convenience of transacting in a comfortable environment. 
                    You can check your balances, track your transactions and transfer funds effortlessly. 
                    Furthermore, you can also pay your bills, open fixed and recurring deposits and do so much more. 

                </div>
            </div>
            <div class="portlet-grid panel-primary">
                <div class="panel-heading">
                    <h3 class="panel-title">Bill payments at any time, from anywhere</h3>
                </div>
                <div class="panel-body"> With our internet banking facility, 
                    you can pay your bills without having to wait in queues anymore. 
                    You can also choose any option for bill payments, 
                    manage your billers and even make use of the ‘Quick Pay’ function to make payments faster. 
                    Also, you can set reminders for your bill payments, so you never forget to pay on time. 
                </div>
            </div>
            <div class="portlet-grid panel-primary">
                <div class="panel-heading">
                    <h3 class="panel-title">Safe and secure banking</h3>
                </div>
                <div class="panel-body"> You never need to worry about the security of your information and data 
                    when you bank with us as your online partner.
                     We have put in place a multi-level security system to protect your data and information. 
                     In order to know more about the security features of ABC Retail Bank Internet Banking, 
                     please click here 
                    </div>
                </div>
            </div></div>

</div>


