
<div style="width: 500px; margin: auto;">
<div *ngIf="submitted">
    <h3>You successfully created a Customer!</h3>
</div>
<div class="submit-form">
  <div *ngIf="!submitted">
    <div class="form-group">
      <label for="customerName">CustomerName</label>
      <input
        type="text"
        class="form-control"
        id="customerName"
        required
        [(ngModel)]="customer.customerName"
        customerName="customerName"
        placeholder="Enter Customer Name"
      />
    </div>
    <div class="form-group">
      <label for="Gender">Gender</label>
      <select [(ngModel)]="customer.Gender"class="browser-default custom-select form-control"  placeholder="Select Gender">
        <option value="Male">Male</option>
        <option value="Female">Female</option>  
        <option value="Transgender">Transgender</option>     
      </select>
    </div>
     <div class="form-group">
      <label for="accounttype">Account Type</label>
      <select [(ngModel)]="customerAccount.accounttype"class="browser-default custom-select form-control"  placeholder="Select Account Type">
        <option value="Savings">Savings</option>
        <option value="Current">Current</option>     
        <option value="NRI">NRI</option>
        <option value="Fixed">Fixed</option>
        <option value="Recurring">Recurring</option>
        <option value="Salary">Salary</option>
      </select>
    </div>
      <div class="form-group">
        <label for="balance">Opening Balance Amount</label>
        <input
          class="form-control"
          id="balance"
          required
          [(ngModel)]="customerAccount.balance"
          balance="balance"
          placeholder="Enter Opening Balance Amount"
        />
      </div>
    <div class="form-group">
      <label for="customerAddress">Address</label>
      <input
        class="form-control"
        id="customerAddress"
        required
        [(ngModel)]="customer.customerAddress"
        customerAddress="customerAddress"
        placeholder="Enter Address"
      />
    </div>
    <div class="form-group">
        <label for="Phone">Phone</label>
        <input
          class="form-control"
          id="customerPhone"
          required
          [(ngModel)]="customer.customerPhone"
          customerPhone="customerPhone"
          placeholder="Enter Phone"
        />
      </div>
      <div class="form-group">
        <label for="customerEmailId">Email</label>
        <input type="email"
          class="form-control"
          id="customerEmailId"
          required
          [(ngModel)]="customer.customerEmailId"
          customerEmailId="customerEmailId"
          placeholder="Enter Email"
        />
      </div>
      <div class="form-group">
        <label for="password">Password</label>
        <input type="password"
          class="form-control"
          id="password"
          required
          [(ngModel)]="customer.password"
          password="password"
          placeholder="Enter Password"
        />
      </div>
      <div class="form-group">
        <label for="confirmPassword">Confirm Password</label>
        <input type="password"
          class="form-control"
          id="password"
          required
          [(ngModel)]="customer.password"
          password="password"
          placeholder="Enter Password"
        />
      </div>
      <div class="form-group">
        <label for="User">User Type</label>
        <select [(ngModel)]="customer.userType"class="browser-default custom-select form-control"  placeholder="Select User Type">
          <option value="Admin">Admin</option>
          <option value="Customer">Customer</option>  
        </select>
      </div>
      <div class="text-center">
    <button (click)="createCustomer()" class="btn btn-success mr-2">Create</button> 
    <button class="btn btn-secondary">Cancel</button>
    </div>
  </div>

  
</div>

</div>
